---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: repo-security-scanner-service
  name: repo-security-scanner-service
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    name: repo-security-scanner
