Message: ((Message))
Timestamp: ((Timestamp))

Filename: ((Filename))
Reason: ((Reason))
Organisation: ((Organisation))
Repo: ((Repo))
URL: ((URL))

Elasticsearch Index: ((ElasticsearchIndex))
Elasticsearch ID: ((ElasticsearchId))
